<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <title>crow</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>

  <body>
    <form id="form" v-on:change="updateCharts">
      <div class="container">
        <div class="row">

          <div class="col-md-4 form-group">
            <label for="radar">Radar</label>
            <select class="form-control" name="radar" v-model="radar">
              <option disabled value="">Please select a radar</option>
              <option v-for="radar in radars" :value="radar.code">{{ radar.name }}</option>
            </select>
            <small class="form-text text-muted" id="radar-help">{{ radarName }} (<code>{{ radar }}</code>) is located in {{ radarCountry }}</small>
          </div>

          <div class="col-md-6 form-group">
            <label class="d-block" for="date">Date</label>
            <div class="btn-group">
              <a class="btn btn-secondary" v-on:click="changeInterval('previous')">‹</a>
              <input class="form-control" type="date" name="date" v-model="date">
              <a class="btn btn-secondary" v-on:click="changeInterval('next')">›</a>
            </div>
            <small class="form-text text-muted" id="date-help">{{ formattedDate }}</small>
          </div>

          <div class="col-md-2 form-group">
            <label class="d-block" for="interval">Interval</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="interval" value="week" v-model="interval">
              <label class="form-check-label" for="interval-week">Week</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="interval" value="day" v-model="interval">
              <label class="form-check-label" for="interval-day">Day</label>
            </div>
          </div>
        
        </div>
      </div>
    </form>

    <main>
      <div class="container">
        <div class="row">
          
          <div class="col d-none">
            <h2>VPTS</h2>
            <div id="vpts-chart"></div>
          </div>

          <div class="col">
            <h2>VPI</h2>
            <div id="vpi-chart"></div>
          </div>

        </div>
      </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.js" integrity="sha256-kX9/pjvgpDgSmoSfzAlYJeICaZXca16iu+c3F6ueKRo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="module" src="assets/js/main.js"></script>
  </body>
</html>
