form {
  background-color: #f8f9fa;
  border-bottom: 1px solid #ced4da;
  padding: 15px 0;
  margin-bottom: 15px;
  }
  form .btn-group {
    }
    form .btn-group input {
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
    form .btn-group .btn-secondary {
      background: #ced4da;
      border: 1px solid #ced4da;
    }

body > main {
  min-height: calc(100vh - 150px); /* Viewport height minus medium screen form height, to push footer to bottom */
  padding-bottom: 15px; /* Don't stick to footer */
}

footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ced4da;
  font-size: 0.9rem;
  padding-top: 15px;
}

svg {
  border: 1px solid #ced4da;
}
